In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
df=pd.read_csv('titanic_cleaned.csv', index_col=0)
df.sample(5)

     survived  pclass  sex   age  sibsp  parch     fare  adult_male  alone
681         1       1    1  27.0      0      0  76.7292           1      1
607         1       1    1  27.0      0      0  30.5000           1      1
437         1       2    0  24.0      2      3  18.7500           0      0
222         0       3    1  51.0      0      0   8.0500           1      1
374         0       3    0   3.0      3      1  21.0750           0      0

In [12]:
X= df.drop(columns='survived')
X.tail(4)

     pclass  sex   age  sibsp  parch   fare  adult_male  alone
886       2    1  27.0      0      0  13.00           1      1
887       1    0  19.0      0      0  30.00           0      0
889       1    1  26.0      0      0  30.00           1      1
890       3    1  32.0      0      0   7.75           1      1

In [17]:
y= df.iloc[:, [0]]
y.tail()

     survived
885         0
886         0
887         1
889         1
890         0

In [19]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, y_train, X_test, y_test= train_test_split(X, y, random

In [32]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.3, random_state=30 )

#### using logistic regression

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
log= LogisticRegression()

In [38]:
y_train=np.ravel(y_train)

In [41]:
log.fit(X_train, y_train)

C:\Users\pc\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
y_pred= log.predict(X_test)
y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [46]:
from sklearn.metrics import classification_report, confusion_matrix

In [45]:
classification_report(y_pred, y_test)

'              precision    recall  f1-score   support\n\n           0       0.89      0.77      0.83       153\n           1       0.57      0.76      0.65        62\n\n    accuracy                           0.77       215\n   macro avg       0.73      0.76      0.74       215\nweighted avg       0.80      0.77      0.78       215\n'

In [47]:
confusion_matrix(y_pred, y_test)

array([[118,  35],
       [ 15,  47]], dtype=int64)

### using decision tree

In [48]:
from sklearn.tree import DecisionTreeClassifier

In [49]:
tree= DecisionTreeClassifier()

In [50]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [53]:
tree_predict= tree.predict(X_test)
tree_predict

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [54]:
classification_report(tree_predict, y_test)

'              precision    recall  f1-score   support\n\n           0       0.84      0.81      0.82       139\n           1       0.67      0.72      0.70        76\n\n    accuracy                           0.78       215\n   macro avg       0.76      0.76      0.76       215\nweighted avg       0.78      0.78      0.78       215\n'

In [55]:
confusion_matrix(tree_predict, y_test)

array([[112,  27],
       [ 21,  55]], dtype=int64)

### using random forest

In [56]:
from sklearn.ensemble import RandomForestClassifier

In [57]:
rf= RandomForestClassifier()

In [58]:
rf.fit(X_train, y_train)

C:\Users\pc\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [60]:
rf_pred= log.predict(X_test)
rf_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [61]:
classification_report(rf_pred, y_test)

'              precision    recall  f1-score   support\n\n           0       0.89      0.77      0.83       153\n           1       0.57      0.76      0.65        62\n\n    accuracy                           0.77       215\n   macro avg       0.73      0.76      0.74       215\nweighted avg       0.80      0.77      0.78       215\n'

In [62]:
confusion_matrix(rf_pred, y_test)

array([[118,  35],
       [ 15,  47]], dtype=int64)